

/* 


Global style 


*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1800px;
    width: 95%;
    margin: auto;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* 

Header/navigation 

*/

header{
    background-color: #fbfbfb;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 20;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo{
    width: 150px;
}

.mobile-nav-logo{
    display: none;
}

.nav-house{
    width: 45px;
}

.trip-planner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    font-size: 19px;
    font-weight: 700;
    padding: 10px;
}

.anywhere-container{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.add-guests-container{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.pipe{
    width: 1px;
    height: 25px;
    opacity: .2;
    background-color: #333;
}

.pipe-container{
    margin: 0 1rem;
}

.search-icon-container{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #ff385c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 6px;
}

.nav-menu-links{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 19px;
    font-weight: 700;
}

.nav-icon-container{
    background-color: #f2f2f2;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 6px;
    cursor: pointer;
}

.host-link {
  border-radius: 35px;
  height: 40px;
  width: 170px;
  transition: background-color .1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.host-link:hover {
  background-color: #f2f2f2;
}

.mobile-sticky-menu-container{
    display: none;
}


/* 


Media query 


*/

/* 


Mobile sticky menu

*/

.mobile-sticky-menu-container{
    position: sticky;
    background-color: #fcfcfc;
    color: #6a6a6a;
    padding: 0.5rem 0rem;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.mobile-sticky-menu-search{
    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    margin: 0.5rem auto;
    color: #222;
    column-gap: 10px;

}

/* 
delete
*/
.help-nav-container{
    position: sticky;
    background-color: white;
    width: 30%;
}

.help-nav{
    border-radius: 15%;
    row-gap: 100px;
}

.horizontal-pipe-container{
    margin: 0 1rem;
}

.horizontal-pipe{
    width: 90%;
    margin: auto;
    background-color: #333;
    opacity: 0.2;
    height: 1px;
}

@media screen and (max-width : 1224px) {

    .nav-logo{
        display: none;
    }

    .mobile-nav-logo{
        display: block;
        width: 75px;
    }

    .host-link{
        display: none;
    }

}

@media screen and (max-width : 917px) {

    header{
        display: none;
    } 

    .mobile-sticky-menu-container{
        display: block;
    }

}

/* 


Mobile menu fixed (Dynamic with JS)


*/

.mobile-menu-fixed{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 80px 16px 160px;
    z-index: 100;
    background: transparent ;
}

.mobile-menu-container{
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    border-radius: 12px;
    width: 290px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    line-height: 1.5;
    padding: 0.5rem 0rem;
    background-color: #fcfcfc;
}

.menu-flexbox{
    display: flex;
    align-items: center;
}

.mobile-menu-image{
    width: 50px;
}

.divider{
    width: 70%;
    margin: 4px auto;
    background-color: #ebebeb;
    height: 1px;
}

.mobile-menu-text-container{
    font-size: 15px;
}

.bold-text{
    font-weight: 500;
}

.mobile-menu-li{
    padding: 10px 2px;
    display: flex;
    align-items: center;
}

.mobile-menu-li.menu-flexbox{
    column-gap: 10px;
    padding-left: 1.25rem;
}

.mobile-menu-li.menu-flexbox .mobile-menu-link{
    padding: 0;
}

.mobile-menu-link{
    font-size: 14px;
    padding: 0rem 2.5rem;
}