

/* 


Global style 


*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 2000px;
}

.container {
    max-width: 1800px;
    width: 95%;
    margin: auto;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* 

Header/navigation 

*/

header{
    background-color: #fbfbfb;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 20;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo{
    width: 150px;
}

.mobile-nav-logo{
    display: none;
}

.nav-house{
    width: 45px;
}

.trip-planner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    font-size: 19px;
    font-weight: 700;
    padding: 10px;
}

.anywhere-container{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.add-guests-container{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.pipe{
    width: 1px;
    height: 25px;
    opacity: .2;
    background-color: #333;
}

.pipe-container{
    margin: 0 1rem;
}

.search-icon-container{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #ff385c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 6px;
}

.nav-menu-links{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 19px;
    font-weight: 700;
}

.nav-icon-container{
    background-color: #f2f2f2;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 6px;
    cursor: pointer;
}

.host-link {
  border-radius: 35px;
  height: 40px;
  width: 170px;
  transition: background-color .1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.host-link:hover {
  background-color: #f2f2f2;
}

.mobile-sticky-menu-container{
    display: none;
}



/* 


Mobile sticky menu

*/

.mobile-sticky-menu-container{
    position: sticky;
    background-color: #fcfcfc;
    color: #6a6a6a;
    padding: 0.5rem 1rem;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}

.mobile-sticky-menu-search{
    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    margin: 0.5rem auto;
    color: #222;
    column-gap: 10px;

}

/* 


Mobile menu fixed (Dynamic with JS)


*/

.mobile-menu-fixed{
    position: fixed;
    inset: 0;
    display: none;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 90px 70px 160px;
    z-index: 100;
    background: transparent ;
}

.mobile-menu-fixed.is-open{
    display: flex;
    pointer-events: auto;
}

.mobile-menu-fixed.is-open .mobile-menu-container{
    display: flex;
}

.mobile-menu-container{
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    border-radius: 12px;
    width: 290px;
    display: none;
    flex-direction: column;
    z-index: 2;
    position: relative;
    line-height: 1.5;
    padding: 1rem 1rem;
    background-color: #fcfcfc;
}

.menu-flexbox{
    display: flex;
    align-items: center;
}

.mobile-menu-image{
    width: 50px;
    flex-shrink: 0;
}

.divider{
    width: 80%;
    margin: 4px auto;
    background-color: #ebebeb;
    height: 1px;
}

.mobile-menu-text-container{
    font-size: 15px;
}

.bold-text{
    font-weight: 500;
}

.mobile-menu-li{
    padding: 10px 2px;
    transition: all .1s ease-in;
    display: flex;
    align-items: center;
}

.mobile-menu-li.menu-flexbox{
    column-gap: 10px;
    padding-left: 1.25rem;
    padding-right: 1rem;
}

.mobile-menu-li.menu-flexbox .mobile-menu-link{
    padding: 0;
}

.mobile-menu-li:hover{
    background-color: #f7f7f7;
    width: 100%;
}

.mobile-menu-link{
    font-size: 14px;
    padding: 0rem 1.5rem;
    color: #222;
}

/* 


mobile footer


*/

.footer-container{
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    border-top: 1px solid #ebebeb;
}

.mobile-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6rem;
    padding: 1.2rem 0rem;
    max-width: 640px;   
}


.mobile-li{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: #ff385c;
}

.footer-menu-link{
    font-size: 20px;
    color: #222;
    font-weight: 500;
}


/* 


destination section


*/

.destination {
  margin: 4rem 0rem;
}

.destinations-row {
  margin: 2rem 0rem;
}

.destination-grid-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1rem;
}

.destination-card {
  min-width: 0;
}

.destination-img-container {
  position: relative;
  overflow: hidden;
}

.destination-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.guest-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 35px;
  font-size: 11px;
  font-weight: 600;
  opacity: .8;
  z-index: 2;
}

.destination-img-container  .fa-heart {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 18px;
  font-weight: 600;
  opacity: .6;
  z-index: 2;
  padding: 6px;
}


/* 


Media query 


*/

@media screen and (max-width: 1368px) {
  .container {
    width: 95%;
  }

  .destination-grid-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .large-tablet {
    display: none;
  }
}

@media screen and (max-width : 1224px) {

    .nav-logo{
        display: none;
    }

    .mobile-nav-logo{
        display: block;
        width: 75px;
    }

    .host-link{
        display: none;
    }

    .mobile-phone{
        display: none;
    }
}


@media screen and (max-width: 1181px) {
  .medium-tablet {
    display: none;
  }

  .destination-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media screen and (max-width: 917px) {
  header {
    display: none;
  }

  .mobile-sticky-menu-container {
    display: block;
  }

  .mobile-bottom-menu-container {
    display: block;
  }

  .destination {
    margin-top: 8rem;
  }

  .destination-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 425px) {
  .destination-heading {
    font-size: 19px;
  }
}

@media screen and (max-width: 360px) {
  .guest-favorite {
    left: 7px;
  }

  .destination-img-container  .fa-heart {
    right: 3px;
  }

  .destination-text-header {
    font-size: 10px;
  }

  .desination-p {
    font-size: 9px;
  }
}




